/*main*/
main {
    background-color: map-get($color, color1);

    section {
        h2 {
            display: flex;
            justify-content: center;
            color: #282828;
            font-size: 1.875rem;
            font-weight: 800;
            line-height: 1.3em;
            letter-spacing: 0rem;
        }
    }
}

.items {
    background-color: map-get($color, color2);
}

.helpContact {
    section {
        p {
            text-size-adjust: .9375rem;
        }
    }
}

.carousel1 {
    background-color: #f5f5f5;
    padding: 2rem 0;

    img {
        width: 100%;
        /* Ajusta el ancho al 100% del contenedor */
        height: auto;
        /* Establece una altura fija */
        object-fit: cover;
        /* Ajusta la imagen para cubrir el contenedor */
    }
}

.carousel-indicators {
    bottom: 0;
}

.carousel-caption {
    bottom: 30%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
}

.mainCarrito{
    background-color: map-get($color, color3 );
    padding: 2rem 0;

    .containerCarrito {
        width: 90%;
        max-width: 1200px;
        margin: 0 auto;

        .cartelCarrito {
            background-color:map-get($color, color4 );
            padding: 4rem 0;
            border-radius: 10px;
            text-align: center;

            h2 {
                color: map-get($color, color5 );
                font-size: 2em;
                margin: 0;
            }
        }
    }
}