/*main*/
main {
    section {
        h2 {
            display: flex;
            justify-content: center;
            color: #282828;
            font-size: 1.875rem;
            font-weight: 800;
            line-height: 1.3em;
            letter-spacing: 0rem;
        }
    }
}

.helpContact {
    section {
        p {
            text-size-adjust: .9375rem;
        }
    }
}