* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*logo*/
.logo-container {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    .navbar-brand 
    {
        margin-left: auto; // Centra la imagen horizontalmente
        margin-top: auto; // Centra la imagen verticalmente
        img{
            width: 30%;
        }
    }
}

